.dashboard {
  color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.dashboard__amounts,
.dashboard__radio,
.dashboard__request {
  display: flex;
  justify-content: space-between;
}

.dashboard h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.dashboard__radio,
.dashboard__request,
.dashboard__amounts {
  width: 100%;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.dashboard__radio--title p {
  font-size: 12px;
}

.dashboard__radio--btns {
  display: flex;
  gap: 10px;
}

.dashboard__radio--btns div {
  flex: 1;
}

.dashboard__request > input {
  width: 50%;
  margin-bottom: 10px;
}

.dashboard__inputs {
  width: 60%;
  display: flex;
  justify-content: space-evenly;
}

.dashboard__inputs > input {
  width: 15%;
}

.dashboard__amounts--title {
  margin-right: 100px;
}

.dashboard__amounts--title p {
  font-size: 12px;
}

.dashboard__request p {
  font-size: 12px;
}
